<div style="background-color: #f8f8f8;">
  <div class="parent">
    <div class="child">

      <!-- Title -->
      <div nz-row class="imgDiv">
        <h2 style="text-align: center;">Create Ad</h2>
      </div>

      <form nz-form [formGroup]="validateForm" (ngSubmit)="postAd()">
        <div nz-row class="file-upload-container">

          <!-- Label -->
          <label class="file-upload-label">
            <span style="margin-bottom: 10px; display: block;">Upload a File</span>

            <!-- Hidden file input -->
            <input
              #fileInput
              type="file"
              accept="image/png, image/jpeg"
              style="display: none"
              (change)="onFileSelected($event)"
            />

            <!-- Styled button that triggers file input -->
            <button style="width: 100%; background-color: #333; color: white; border: black;" nz-button nzType="primary" type="button" (click)="fileInput.click()">
              Choose Image
            </button>
          </label>

          <!-- Show preview image -->
          <div class="image-preview" *ngIf="imagePreview">
            <div class="circle-image">
              <img
                [src]="imagePreview"
                alt="Ad Image"
                class="preview-image"
              />
            </div>
          </div>
        </div>

        <!-- Service Name -->
        <div nz-col nzSpan="24" style="margin-top: 20px;">
          <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="Service name is required!">
              <input nz-input placeholder="Service Name" formControlName="serviceName" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <!-- Price -->
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="Price is required!">
              <input nz-input placeholder="Price" formControlName="price" type="number" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <!-- Description -->
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="Description is required!">
              <textarea
                rows="3"
                nz-input
                placeholder="Description"
                formControlName="description"
              ></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>

        <!-- Submit Button -->
        <button  nz-button [nzType]="'primary'" class="login-form-button"
                 style="width: 100%; background-color: #333; color: white; border: black;">
          Create Ad
        </button>
      </form>

    </div>
  </div>
</div>


